<h1><%= error %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<style>
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
</style>